body{
    background-color: rgb(236, 235, 235);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5rem;
}

nav a{
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover{
    transition: ease;
    transition-duration: 1.5s;
    background-color: rgb(202, 201, 201);
    padding: 0px 4px;
    border-radius: 10px;
}

a:active{
    transition: ease;
    transition-duration: 1.0;
    background-color: rgb(202, 201, 201);
    padding: 0px 4px;
    border-radius: 4px;
}

